.screenshot_container {
	display: flex;
}

.screenshot_container figure {
	float: left;
	padding: 5px;
	margin: 5px;
	width: 250px;
	text-align: center;
}

.screenshot_container img {
	text-align: center;
	width: 200px;
}

.screenshot_container figcaption {
	text-align: center;
}