div.screenshot_container {
	display: flex;
	
	figure {
		float: left;
		padding: 5px;
		margin: 5px;
		width: 250px;
		text-align: center;
		
		img {
			text-align: center;
			width: 200px;
		}
		
		figcaption {
			text-align: center;
		}
	}
}
